body{
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 100;
    color: #ffffff;
    background-color: #000000;
}
.f-grid{
    display: grid;
    grid-template-columns: repeat(2,275px);
     /* background-color: turquoise;  */
    justify-content: space-between;
    justify-items: start;
    align-items: center;
    margin-left:15%;
    margin-right: 15%;
    margin-top: 5%;
    height: 100px;
    
    /* border: 2px solid red; */
}
.boxes-1{
     /* border: 1px solid rebeccapurple;  */
     font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 50px;
}
.boxes-2{
    justify-self: center;
    cursor: pointer;
   
}
.boxes{
    font-family:"Roboto", sans-serif; 
    font-weight:100;
    font-size: 32px;
    color: white;
    margin-left: 8px;
}

.popup-container{
    display: none;
}
.popup-container-item{
    display: none;
}

.popup{
    display: flex;
    position: fixed;
    z-index:1100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(12, 12, 12, 0.8);
    backdrop-filter: blur(4px);
    
    
}
 .inside-popup{
    height: 225px;
    width: 450px;
    background:white 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 4px #00000029;
    border: 1px solid red;
    border-radius: 10px;
    opacity: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 input{
    width: 350px;
    height: 40px;
    border: 1px solid red;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
.popup-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 0px; 
    color: red;
    /* border: 1px solid black; */
}
.butn{
    height: 45px;
    width: 100px;
    background-color: rgb(250, 70, 70);
    border: 0px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    outline: none;
}


.todo-card-list{
    /* background-color: rgb(245, 245, 197); */
    margin-left:15%;
    margin-right: 15%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    /* align-content:space-between ; */
}
.todo-card{
    margin: 10px;
    min-width: 225px;
    min-height: 350px;
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.js-class{
    margin-top: 20px;
    height: 40px;
    color: rgb(240, 85, 85);
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid black;
}
.font-awsm{
    width: 100%;
    height:100px;
   /* border: 1px solid red;  */
    position: static;
    text-align: end;
   
}
.card-list{
    /* background-color: black;*/
    /* border: 1px solid rebeccapurple;  */
    text-align: center;
    font-size: 10px;
    position:static;
    min-height: 150px;
}
.item{
    color: rgb(36, 36, 36);
    font-size: 1.7em;
    font-weight: 400;
}
















/* .container{
    display: flex;
    margin-left:25%;
    margin-right: 25%;
    margin-top: 18px;
    justify-content: spac



e-between;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    height: 250px;
    width: 170px;
}
.inside-div{
    margin-left: 25px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    font-style:normal;
    font-weight: 300;
    margin-bottom: 5px;

}
  */